/* FILEPATH: /Users/christopher/CDA-BEST/Angular/whatsappFront/src/app/Components/header/header.component.css */

/* Add your CSS styles here */
.navbar {
	background-color: #f8f9fa;
	padding: 10px;
	display: flex;

}

.navbar-brand {
	font-weight: bold;
	color: #333;
}

.navbar-toggler {
	border: none;
	background-color: transparent;
}


.navbar-nav {
	margin-top: 10px;
}

.nav-item {
	margin-right: 10px;
}

.nav-link {
	color: #333;
	text-decoration: none;
}

.nav-link:hover {
	color: #007bff;
}
