.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #545454;
  border-radius: 5px;
  background-color: #fc8989;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
